/*
This file has the styles
*/

body {
	height: 100%;
}

p {
	color:black;
	font-family:Helvetica;
	text-align:left;
}

li{
	color:black;
	font-family:Helvetica;
	text-align:left;
}

.content {
	background-color: #fff5db;
	min-height: 100vh;
}

.content > h4 {
	margin: 30px;
}

.navbar {
	background-color: #f0a8f0;
}

.navbar-nav > li{
	margin-left:30px;
	margin-right:30px;
}

.text-and-imgs, .text-and-img {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	padding: 30px;
	gap: 30px;
}

.text-and-imgs > div {
	flex: 1 1;
}

.text-and-img :first-child {
	flex: 2 1 0;
}

.online-yoga-img {
	flex: 1 1 0;
}

@media screen and (max-width: 600px) {
	.text-and-imgs, .text-and-img {
		flex-direction: column;
	}
}

.imgs > img {
	display: block;
}

.imgs > img:not(:first-child) {
	margin-top: 30px;
}

.faq-texts > p {
	margin-top: 30px;
	margin-left: 30px;
}

.faq-texts > p:first-child {
	margin-left: 30px;
}

.anchor {
    position: relative;
    display: block;
    visibility: hidden;
}

.page-icon {
	position: absolute;
	margin-top: 30px;
	right: 30px;
}

@media screen and (max-width: 1000px) {
	.page-icon {
		margin-left: 30px;
		position: static;
	}
}

h1{
	color:#7e8580;
	text-align:left;
}

h2{
	color:#7e8580;
	text-align:left;
}

h3{
	color:#7e8580;
	text-align:left;
}

img {
	object-fit:cover;
}

footer {
	display: flex;
	justify-content: space-between;
	background-color: #444;
	padding: 30px;
}

footer > p, li {
	color: #fff;
}

footer > a {
	color: #aaf;
}

footer > *:last-child {
	text-align: right;
	margin-left: auto; 
	margin-right: 0;
}

footer > *:last-child::after {
    clear: both;
}

.contact-info, .contact-info > ul {
	padding-left: 0px;
	list-style-type: none;
}

#bookingForm {
	display: none;
	margin: 30px;
	background-color: #333;
	border-radius: 30px;
	padding: 15px;
	
}

#bookingForm > h4 {
	color: white;
}

ul ul {
	margin-left: 30px;
}

table {
	margin-top: 30px;
	margin-left: 30px;
    border: 2px solid black;
}

th, td, p {
	font-size: 1.5em;
}

label {
	color: white;
	font-size: 1.5em;
}

#classBooked {
	display: none;
}